body {

	background-color:#ffffff;
	color: #744D12;
	margin: 0 auto;
	font-family: arial;
	max-width: 1200px;
}
#navbar {
	overflow: hidden;
	background-color: #FF9300;
	display: block;
	margin: 0 auto;
}
#navbar a {
	float: left;
	display:block;
	color: #ffffff;
	text-align: center;
	border: 25px #ffffff;
	text-decoration: none;
	font-size: 22px;
	padding: 10px 14px;
	margin: 0 auto;
}
#navbar a.menuitems:hover {
	color: #744D12;
	background-color: #ffffff ;
	margin: 0 auto;
}
#logo:hover{
	transform:rotate(360deg);
	transition: 0.8s;
	margin: 0 auto;
}
#menuitems-container {
	float: right;
	margin-right: 10%;
	margin: 0 auto;
}
.menuitems {
	min-height: 8vh;
	line-height: 8vh;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 30px;
	background-color:#ffffff;
}
.description {
  background-color: #ffffff;
	width: 55%;
	display:inline-block;
	line-height: 1em;
	text-align: justify;
	vertical-align: top;
  font-size: 30px;
	padding: 10px 10px 10px 10px;
}
.description > div {
  background-color: #ffffff;
}
#mrsverphoto {
	max-width: 42%;
	display:inline-block;
	align-items: center;
	padding: 35px 0px 0px 0px;
}
@media only screen and (max-width: 900px) {
	.description {
		width: 100%
	}
}

p {
	font-size: 18px;
	margin: 15px;
}
#donate {
	text-align: center;
}
.endofthepage {
	background: #744D12;
	text-align: center;
	color: #ffffff;
	float: center;
}
.endofthepage a {
	color: #ffffff;
}
