body {

	background-color:#ffffff;
	color: #744D12;
	margin: 0 auto;
	font-family: arial;
	max-width: 1200px;
}
.navbar {
	background-color: #FF9300;
	max-width: 1200px;
	margin: auto;
}
#navbar a {
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	padding: 5px 14px;
	float: right;
}
#navbar a.nav-link:hover {
	color: #744D12;
	background-color: #ffffff;
}
#logo:hover{
	transform:rotate(360deg);
	transition: 0.8s;
}
.dropdown-menu {
	background-color: #FF9300;
}
.nav-link {
	min-height: 7vh;
	line-height: 7vh;
}

h1 {
	text-align: center;
	font-size: 30px;
	background-color:#ffffff;
	font-weight: bold;
}
h2 {
	text-align: center;
	font-size: 24px;
}
.description {
  background-color: #ffffff;
	width: 55%;
	display:inline-block;
	line-height: 1em;
	text-align: justify;
	vertical-align: top;
  font-size: 30px;
	padding: 10px 10px 10px 10px;
}
.description > div {
  background-color: #ffffff;
}
#mrsverphoto {
	max-width: 42%;
	display:inline-block;
	align-items: center;
	padding: 35px 0px 0px 0px;
}
@media only screen and (max-width: 900px) {
	.description {
		width: 100%
	}
}

p {
	font-size: 18px;
	margin: 15px;
}
#donate {
	text-align: center;
}
.endofthepage {
	background: #744D12;
	text-align: center;
	color: #ffffff;
	float: center;
}
.endofthepage a {
	color: #ffffff;
}
