body {
	background-color:#ffffff;
	color: #744D12;
	margin: 0 auto;
	font-family: arial;
	max-width: 1200px;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.navbar {
	background-color: #FF9300;
	max-width: 1200px;
	margin: 0 auto;
}
#navbar a {
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	padding: 5px 14px;
	float: right;
}
#navbar a.nav-link:hover {
	color: #744D12;
	background-color: #ffffff;
}
#logo:hover{
	transform:rotate(360deg);
	transition: 0.8s;
}
.dropdown-menu {
	background-color: #FF9300;
}
.nav-link {
	min-height: 7vh;
	line-height: 7vh;
}
.main-container {
	background-color:#FF9300;
}
h1 {
	text-align: center;
	font-size: 28px;
	color: #744D12;
		font-weight: bold;
}
h2 {
	text-align: center;
	font-size: 24px;
	color: #FF9300;
}
h3 {
	font-size: 18px;
	font-weight: bold;
}
p {
	font-size: 18px;
	text-align: justify;
	line-height: 1em;
}
.photoandtextblock {
	display: flex;
}
.photoandtextblock > div {
  margin: 10px;
  padding: 20px;
}
#foodphoto {
	width: 35%;
}
#foodphoto img {
	width: 100%;
}
#ingredientscontainer {
width: 20%;
}
#ingredientscontainer h2 {
text-align: left;
}
#methodcontainer {
width: 40%;
}
.ingredients li {
	line-height: 1.5em;
}
ul.a {
  list-style-type: circle;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #FF9300;
  font-weight: bold;
	font-size: 22px;
}
@media only screen and (max-width: 900px) {
	#foodphoto {
		width: 100%;
	}
	#ingredientscontainer {
		width: 100%;
	}
	#methodcontainer {
		width: 100%;
	}
}
.video {
margin: 20px;
}
.footer {
    background-color:#744D12;
    margin: auto;
    font-size: 0.8em;
		text-align: center;
}
.footer hr{
    display: none;
}

.footer .logo{
    margin: 15px 15px 15px 15px;
		padding: 15px 15px 15px 15px;
    width: 10%;
		display: inline-block;
		vertical-align: top;
		float: left;

}
.footer-nav {
    display: inline-block;
    line-height: 1.7em;
    margin: 20px;
    vertical-align: top;
    width: 20%;
}
.footer-nav a {
    color: #e3e3e3;
    display: block;
}
.footer-nav a:hover{
    color: #FF9300;
    font-weight: bold;
		text-decoration: none;
}
.footer-social {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    float: right;
		margin: 20px;
}
.footer-social a {
	color: #ffffff;
}

.footer-social i:hover{
	color:#FF9300;
}

@media only screen and (max-width: 768px) {
    .footer-registered-address{
        width: 100%;
    }
    .footer-nav {
        width: 50%;
    }
    .footer-social{
        width: 20%;
        float: none;
    }
    .footer hr {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .footer-registered-address{
        width: 100%;
    }
    .footer-nav {
        width: 100%;
    }
		.footer .logo {
        width: 50%;
        float: none;
    }
		.footer-social{
				width: 100%;
				float: none;
		}

    .footer hr {
        display: block;
    }
}
