body {
	background-color:#ffffff;
	color: #744D12;
	margin: 0 auto;
	font-family: arial;
	max-width: 1200px;
}
.navbar {
	background-color: #FF9300;
	max-width: 1200px;
	margin: auto;
}
#navbar a {
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	padding: 5px 14px;
	float: right;
}
#navbar a.nav-link:hover {
	color: #744D12;
	background-color: #ffffff;
}
#logo:hover{
	transform:rotate(360deg);
	transition: 0.8s;
}

.nav-link {
	min-height: 7vh;
	line-height: 7vh;
}
h2 {
	text-align: center;
	font-size: 30px;
	background-color:#ffffff;
}
.flex-container {
  display: flex;
  background-color: #FF9300;
	align-items: center;
	padding: 50px;
}
.flex-container > div {
	margin: 20px;
}

input, textarea {
	font-size: 18px;
}

.mailicon {
	background-color: #FF9300;
	padding-left: 140px;
}
@media only screen and (max-width: 600px) {
	.description {
		width: 100%;
	}
}

.endofthepage {
	background: #744D12;
	text-align: center;
	color: #ffffff;
	float: center;
}
.endofthepage a {
	color: #ffffff;
}
